*{
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

#logo{
    width: 60px;
    height: 60px;
}
#navbar, footer{
    background-color: #79b0c9;
}

#button{
    background-color: #F2465D;
    color:white;
}

.card{
    box-shadow: 1px 5px 30px rgb(195, 195, 195);
}

/* #button:hover{
    color: rgb(52, 13, 224);
} */

textarea{
    resize: none;
}